<div class="flex max-h-screen min-h-screen bg-black">
  <div class="w-1/2">
    <div class="group relative h-1/2 bg-red-200">
      <img src="{{ imageUrls[0] }}" class="h-full w-full object-cover" />
      <div
        class="absolute left-0 top-0 z-50 h-full w-0 bg-white/75 transition-[width] duration-300 group-hover:w-full"
      >
        <div class=" transition-opacity duration-300 ease-in  group-hover:opacity-100  opacity-0">
          <p><i></i>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            
            
            twitter</p>
          <p>twitter</p>
          <p>twitter</p>
        </div>
      </div>
    </div>
    <div class="h-1/2 bg-lime-400">
      <img src="{{ imageUrls[1] }}" class="h-full w-full object-cover" />
    </div>
  </div>
  <div class="w-1/2">
    <div class="h-1/2 bg-yellow-400">
      <img src="{{ imageUrls[2] }}" class="h-full w-full object-cover" />
    </div>
    <div class="h-1/2 bg-purple-400">
      <img src="{{ imageUrls[3] }}" class="h-full w-full object-cover" />
    </div>
  </div>
</div>
