<div class="h-1/2 bg-purple-400">
  <div class="flex h-full items-center justify-center">
    <form class="basis-3/4 bg-white px-8 pb-8 pt-6 shadow-md">
      <h3 class="mb-3 font-mono text-2xl font-bold">Contact Us</h3>
      <div class="mb-1 flex">
        <div class="mx-1 mb-1 basis-1/2">
          <label
            class="mb-2 block text-sm font-bold text-gray-700"
            for="fullname"
          >
            Full Name
          </label>
          <input
            class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
            id="fullname"
            type="text"
            placeholder="Full Name"
          />
        </div>
        <div class="mx-1 mb-1 basis-1/2">
          <label class="mb-2 block text-sm font-bold text-gray-700" for="email">
            Email
          </label>
          <input
            class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
            id="email"
            type="email"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="mx-1 mb-1">
        <label class="mb-2 block text-sm font-bold text-gray-700" for="message">
          Message
        </label>
        <textarea
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          id="message"
          placeholder="Your Message"
        ></textarea>
      </div>
      <div class="flex w-full justify-end">
        <button
          class="mx-1 rounded border border-purple-200 bg-purple-900 px-4 py-1 text-sm font-semibold text-white hover:border-transparent hover:bg-purple-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
          type="button"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
