<div class="group h-1/2 bg-yellow-400 [perspective:1000px]">
  <div
    class="relative h-full w-full transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
  >
    <div class="absolute h-full w-full">
      <img src="{{ imageUrl }}" class="h-full w-full object-cover" />
    </div>
    <div
      class="h-full w-full bg-black text-slate-50 [backface-visibility:hidden] [transform:rotateY(180deg)]"
    >
      <div class="p-6">
        <h2 class="font-mono text-2xl font-bold">About Us</h2>
        <p class="mt-2 text-justify">
          Schibsted is a family of digital brands leading the way across media,
          online marketplaces and technology ventures. Our media brands – like
          VG, Aftonbladet, Aftenposten and SvD are renowned for trustworthiness,
          exceptional journalism and high editorial independence. Our leading
          marketplaces like Finn, Blocket, Tori and Oikotie connect millions of
          users every month.
          <a
            href="javascript:void(0)"
            class="text-green-400 hover:text-amber-500"
            >Read More ...</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
