<div class="group relative flex h-1/2 bg-red-400">
  <div class="absolute h-full w-full p-16">
    <div class="rounded-lg bg-white p-5">
      <div class="mb-1 text-center">
        <h2 class="font-mono text-2xl font-bold">Our Services</h2>
      </div>
      <div
        class="mx-auto mb-1 flex h-10 w-10 items-center justify-center rounded-full bg-purple-100 text-xl text-red-900"
      >
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="flex justify-between px-10 font-semibold text-purple-700">
        <ul class="">
          <li><i class="fa-solid fa-chevron-right"></i> Marketplace</li>
          <li><i class="fa-solid fa-chevron-right"></i> News Media</li>
          <li><i class="fa-solid fa-chevron-right"></i> Cloud</li>
        </ul>
        <ul class="">
          <li><i class="fa-solid fa-chevron-right"></i> Tech</li>
          <li><i class="fa-solid fa-chevron-right"></i> Life</li>
          <li><i class="fa-solid fa-chevron-right"></i> Sustainibility</li>
        </ul>
      </div>
    </div>
  </div>
  <img
    src="{{ imageUrl }}"
    class="absolute top-0 h-full w-full object-cover transition-all duration-500 ease-out group-hover:-top-full group-hover:opacity-0"
  />
</div>
